# Игнорировать все файлы .log
*.log
*.pt

# Игнорировать директорию node_modules
dataset/
dataset_kaggle/
venv/
violation_screenshots/
context_aware_screenshots/
output_videos/
models/
videos/
face_db/
images/

# Игнорировать файлы конфигурации среды
.env