__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.pt
*.weights
.git
.gitignore
Dockerfile
.dockerignore
dataset/
dataset_kaggle/
output_videos/
violation_screenshots/
recordings/
face_db/
images/